<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="port" value="COM1" />
		<add key="baud" value="9600"/>
		<add key="data_bit" value="8"/>
		<add key="parity" value="None"/>
		<add key="stop_bit" value="One"/>
	</appSettings>
</configuration>